@media screen and (max-width: 900px) {

body {
  overflow-x: hidden;
}

.flag {
  width: 200px;
  margin-left: 10px;
}

.TwoSelect {
  display: flex;
  width: 100px;
}

.Container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: 0px;
}

.App {
  width: 100%
}

.Container_main {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  margin-top: -30px;
}


.live {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.Converter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.Check {
 
  
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 250px;
  font-size: 23px;
  margin-top: 30px;
  padding-bottom: 50px;
}

.sum {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  width: 100px;
}

.flag {
  width: 20xpx;
}

.live {
  padding-top: 0px;

}

  .Container {
    margin-bottom: 200px;
  }

  h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    margin-left: 0px;
  }

input {
  width: 324px;
  
  margin-bottom: 10px;
}

.franklin {
  width: 180px;
}

.currency {
  display: flex;
  width:152px;
  flex-direction: row;
  gap: 10px;
}

.Get {
  
  width: 322px;
  text-align: center;
}

.results {
  display: flex;
  flex-direction: row;
  width: 322px;
}

}